---
---

@import "minima";

/* PERSONNALISATION DES TITRES */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body {
  background-image: image-url('aerial-romania.jpg'); // cherche automatiquement dans assets/images
}

.wrapper {
  background-color: transparent;
}