---
---

@import "minima";

/* PERSONNALISATION DES TITRES */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.wrapper {
  background-image: url("../assets/images/aerial-romania.jpg"); // chemin relatif depuis le CSS compilé
  background-size: cover;          // couvre tout le wrapper
  background-repeat: no-repeat;    // pas de répétition
  background-position: center;     // centrée
  min-height: 100vh;               // pour que le wrapper remplisse au moins la fenêtre
  display: flex;                   // si tu veux centrer le texte verticalement
  flex-direction: column;          // texte empilé normalement
  justify-content: center;         // centre verticalement
  align-items: center;             // centre horizontalement
  color: white;                    // texte lisible
}