---
---

@import "minima";

/* PERSONNALISATION DES TITRES */
h1, h2, h3, h4, h5, h6 {
  font-weight: 1500 !important;
  color: #121073 !important;
}

h1 { 
  font-size: 2.2em;
  border-bottom: 2px solid #121073;
  padding-bottom: 0.3em;
  margin-top: 1.5em;
}

h2 { 
  font-size: 1.8em;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 0.2em;
  margin-top: 1.3em;
}

h3 { 
  font-size: 1.5em;
  margin-top: 1.2em;
}

h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

